.login-form-container {
    height: 100vh;

    .form-container {
        padding: 0 5rem;
        // border: 1px solid red;

        .input-form {
            width: 100%;

            .ant-btn {
                background-color: rgb(42, 83, 193);
                color: #fff;
                width: 5rem;
            }

            .ant-checkbox-checked .ant-checkbox-inner {
                background-color: rgb(42, 83, 193);
                border-color: rgb(42, 83, 193);
            }

            .register-now {
                color: rgb(42, 83, 193);
            }

            .register-now:hover {
                cursor: pointer;
            }

            .forgot-password {
                color: rgb(0,0,0,0.5);
            }

            .forgot-password:hover {
                cursor: pointer;
            }
        }
    }

}

@media screen and (max-width: 600px) {
    .login-form-container {
        height: 92vh;
        background-image: url("../../Assests/loginIllustration_mobile.svg");
        background-repeat: no-repeat;
        background-size: contain;
        .form-container {
            padding: 0 1rem;
        }

        .image-container {
            display: none;
        }
    }
}