.home-page-container {

  .blog-category-container {
    margin: 0 6rem !important;
    padding: 4rem;

    &.grey-background {
      background-color: rgb(201, 201, 201, 0.3);;
    }

    .blog-category-name {
      color: rgb(42, 83, 193);
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 2rem;
    }
  }

  .blog-filters-container {
    margin: 0 6rem 1rem;

    .filter-button {
      color: rgb(23, 42, 71);
      border: 1px solid rgb(23, 42, 71);
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 3px;

      &.show-filters {
        background-color: rgb(23, 42, 71);
        color: #fff;
      }

      .selected-count {
        border-radius: 50%;
        background-color: rgb(42, 83, 193);
        color: #fff;
        width: 1.25rem;
        height: 1.25rem;
        font-size: .75rem;
      }
    }

    .inner-container {
      flex-wrap: wrap;
      gap: 6px;

      .ant-btn {
        margin-right: 1rem;
        border: 1px solid rgb(23, 42, 71);
        color: rgb(23, 42, 71);

        &.selected {
          background: rgb(23, 42, 71);
          color: #fff;
        }
      }
    }
  }

  .back-to-top-button {
    position: fixed;
    bottom: 2rem;
    transform-origin: 0 50%;
    left: 2.5rem;
    color: rgb(42, 83, 193);
    transform: rotate(-90deg);
    font-size: 20px;
  }

  .back-to-top-button:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .back-to-top-button {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .home-page-container {
    margin-top: 2rem;

    .blog-category-container {
      margin: 2rem 0 !important;
      padding: 2rem .5rem .5rem;

      .blog-category-name {
        margin: 1rem 0 1.5rem 0;
      }
    }

    .blog-filters-container {
      margin: 1rem;

      .inner-container {

        .ant-btn {
          margin-right: .25rem;
        }
      }
    }
  }
}