.header-main-container {
    width: 100%;
    background-color: rgb(42, 83, 193);
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .links-container {

        .websiteIcon {
            margin: 0 1rem;
        }

        .websiteIcon:hover {
            cursor: pointer;
        }

        .link {
            color: #fff;
            font-weight: 600;
            font-size: 1.25rem;
        }

        .link:hover {
            cursor: pointer;
        }
    }

    .icons-container {
        // margin-right: .5rem;
        border: 1px solid red;
    }
}