.footer-main-container {
    height: 430px;
    background-color: rgb(23,42,71);
    color: #fff;

    .footer-main-row {
        height: 100%;
        margin: 0 !important;

        .subscribe-heading {
            font-size: 22px;
            font-weight: 600;
        }

        .footer-form {
            display: flex;
            margin: 2rem 0;

            .subscribe-input {
                margin-right: 2rem;
            }

            .ant-input {
                background-color: transparent !important;
                border: none;
                border-bottom: 1px solid #fff;
                border-radius: 0;
                color: #fff !important;
                width: 321px;
                height: 40px;
                padding: 0;
            }

            .ant-input::placeholder {
                color: #fff;
                font-size: 1rem;
            }

            .ant-input:focus {
                box-shadow: none !important;
            }

            .subscribe-button {
                button {
                    background-color: rgb(42, 83, 193) !important;
                    color: #fff !important;
                    border-radius: 0 !important;
                    border: none;
                    width: 145px;
                    height: 40px;
                }
            }
        }

        .footer-sections-container {
            display: flex;
            flex-direction: column;

            .ant-col {
                font-size: 20px !important;
                font-weight: 600;
            }

            .ant-col:hover {
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .footer-main-container {
        .footer-main-row {
            .subscribe-heading {
                text-align: center;
                padding: 0 2rem;
                margin-top: 1rem;
            }

            .footer-form {
                display: block;
            }

            .footer-sections-container {
                display: none;
            }
        }
    }
  }