body {
  margin: 0;
  font-family: "Arial Black", "arial-w01-black", "arial-w02-black", "arial-w10-black", sans-serif;
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dflex {
  display: flex;
}

.space-btw {
  justify-content: space-between;
}

.hover-pointer:hover {
  cursor: pointer;
}
